.DS_Store
/*.log
/target
# /*-init.clj
/resources/public/js/compiled
out
/.idea/*
*.iml
*.css
/.lein-repl-history
.figwheel/
.lein-repl-history
.lein-failures
resources/public/compiled/*
.nrepl-port
.swp